<?xml version="1.0" encoding="utf-8"?>

<!-- "THE BEER-WARE LICENSE" (Revision 42): -->
<!-- Marco Ziegaus <github@marcoziegaus.de> wrote this file. As long as you retain this notice you -->
<!-- can do whatever you want with this stuff. If we meet some day, and you think -->
<!-- this stuff is worth it, you can buy me a beer in return. Cheers! Marco -->

<manifest package="de.onelogic.android.weatherdemo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WeatherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
